{% extends 'base.html' %}

{% block title %}Flashcards{% endblock %}

{% block content %}
  {% if vocab %}
    <div class="card">
      <div class="card-header">
        <h1>{{ vocab.word }}</h1>
      </div>
      <div class="card-body">
        <p>{{ vocab.meaning }}</p>
        <p><em>{{ vocab.usage }}</em></p>
      </div>
    </div>
    <br>
    <a href="/flashcards"><button>Next Card</button></a>
  {% else %}
    <h1>No more vocabulary words remaining</h1>
    <a href="/"><button>Home</button></a>
  {% endif %}
{% endblock %}
