<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nikkei Vocabulary Builder</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Nikkei Logo" class="logo-image">
                <p></p>
                <h1>Nikkei Vocabulary Builder</h1>
                <p></p>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="/vocab_list">Vocabulary List</a></li>
                    <li><a href="/quiz">Take Quiz</a></li>
                    {% if current_score %}
                    <li><a href="/quiz?restart=True">Start Over</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
    </main>
    
    <footer class="footer">
        <div class="container">
            <p></p>
        </div>
    </footer>
</body>
</html>